@model List<Blog>

<div class="mainbar">
    @foreach (var item in Model)
    {
        <div class="article">
          <h2><span>@item.Name</span></h2>
          <div class="clr"></div>
          <p><span class="date">@item.PublishDate.ToString("MMMM d\\t\\h, yyyy 'at' h:mm tt")</span> Posted by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">@item.Tags</a>, <a href="#">internet</a></p>
          <img src="@item.ImageUrl" width="625" height="205" alt="" />
          @{
            string description = item.Description;
            string newDescription = description.Length > 50? description.Substring(0,50) + "..." : description;
          }
          <p>@newDescription</p>
          <p class="spec"><a href="/Blog/Detail?id=@item.Id" class="rm">Devami &raquo;</a>
                <a href="#" class="com" style="margin-left:5px;"><span>@item.CommentCount</span> Comments</a>
                @* <a href="#" class="com" style="margin-left:5px;"><span>@item.LikeCount</span> Like</a> *@
                <a href="#" class="com" style="margin-left:5px;"><span>@item.ViewCount</span> View</a>
            </p>
        </div>
    }
</div>